<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <h1>
    Искусственный интеллект <br>
    в странах G20
    </h1>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@600;800;900&family=IBM+Plex+Mono:wght@400;500;600&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>

    <!-- Первый экран -->
    <section class="screen hero">
        <h1>Искусственный интеллект в странах G20</h1>
    </section>

    <!-- Второй экран -->
    <section class="screen globe-screen">
        <div id="globeViz"></div>
    </section>

    <!-- Библиотеки -->
    <script src="https://unpkg.com/three"></script>
    <script src="https://unpkg.com/globe.gl"></script>

    <!-- Наш JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>